{% extends "admin-survey/base.html" %}
{% block content %}
  
<h1 class="mt-4">Dashboard des Sondages</h1>
<div class="mb-3">

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Créer un sondage
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Creation de sondage</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form action=" {% url 'sondage:create_survey' %}" method="post">
            <div class="modal-body">
                {% csrf_token %}
                {{form.as_p}}
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Creer</button>
            </div>
        </form>
      </div>
    </div>
  </div>

</div>

<section id="stats" class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total des Sondages</h5>
                <p class="card-text" id="totalPolls">45</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total des Votes</h5>
                <p class="card-text" id="totalVotes">1234</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Nombre d'Utilisateurs</h5>
                <p class="card-text" id="totalUsers">350</p>
            </div>
        </div>
    </div>
</section>

<section id="polls" class="mt-4">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher un sondage...">
        <button class="btn btn-outline-secondary" type="button">Rechercher</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titre du Sondage</th>
                <th>Date de Création</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
            <tr>
                <td>  
                    <a href=" {% url 'sondage:detail_survey' survey.uid %} "> {{survey.title_survey}}</a>
                </td>

                <td>2024-10-15</td>
                <td>120</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}